/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #f5f8fd url("/images/blue1.png") center top no-repeat;
    background-size: cover;
  }
  
  @media (max-width: 767px) {
    #hero {
      height: auto;
      padding: 20px 0 60px 0;
    }
    #hero .container {
      height: auto !important;
    }
    #hero .intro-img {
      width: 80%;
    }
  }
  
  @media (min-width: 992px) {
    #hero .intro-info {
      /* padding-top: 80px; */
    }
  }
  
  @media (max-width: 767px) {
    #hero .intro-info {
      text-align: left;
      padding-top: 40px;
      padding-bottom: 50px;
    }
  }
  
  #hero .intro-info h2 {
    color: white;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
  }
  
  
  #hero .intro-info p {
    color: white;
    margin-bottom: 30px;
    font-size: 18px;
    /* font-weight: 700; */
  }
  
  #hero .intro-info h2 span {
    color: #1bb1dc;
  }
  
  @media (max-width: 767px) {
    #hero .intro-info h2 {
      font-size: 34px;
      margin-bottom: 30px;
    }
  }
  
  #hero .intro-info .btn-get-started, #hero .intro-info .btn-services {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #1bb1dc;
    color: #fff;
  }
  
  #hero .intro-info .btn-get-started:hover, #hero .intro-info .btn-services:hover {
    background: #0a98c0;
  }
  
  
  .aradhna_home_search{
    margin-top: 30px;
  }
  
  .aradhna_home_search_button{
    background-color: rgba(25,21,184,1);
  }
  
  .aradhna_home_search_button i{
    color: white
  }
  
  
  .aradhna_home_search_button:hover{
    background-color: rgba(25,21,184,1);
  }
  
  .aradhna_home_search_button i:hover{
    color: white
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  #Aniket_Home_home {
    position: relative;
    width:100%;
    height: 100%;
    background-color: rgba(246,246,246,1);
    overflow: hidden;
    --web-view-name: home;
    --web-view-id: home;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
  }
  
  #Aniket_Home_Path_570_r {
    fill: url(#Aniket_Home_Path_570_r);
  }
  .Aniket_Home_Path_570_r {
    overflow: visible;
    position: absolute;
    width:1354.136px;
    height: 1009.515px;
    left: 0px;
    top: 66.485px;
    transform: matrix(1,0,0,1,0,0);
  }
  
  #Aniket_Home_home_content {
    position: absolute;
    width:711px;
    height: 474px;
    left: 190px;
    top: 303px;
    overflow: visible;
  }
  #Aniket_Home_serach_bar {
    position: absolute;
    width:560px;
    height: 58px;
    left: 0px;
    top: 416px;
    overflow: visible;
  }
  #Aniket_Home_Rectangle_40 {
    filter: blur(25px);
    fill: rgba(55,52,235,1);
  }
  .Aniket_Home_Rectangle_40 {
    position: absolute;
    overflow: visible;
    width:651px;
    height: 172px;
    left: 22px;
    top: 36px;
  }
  #Aniket_Home_Rectangle_2 {
    fill: rgba(253,253,253,1);
  }
  .Aniket_Home_Rectangle_2 {
    position: absolute;
    overflow: visible;
    width:556px;
    height: 58px;
    left: 0px;
    top: 0px;
  }
  #Aniket_Home_Rectangle_41 {
    fill: rgba(25,21,184,1);
  }
  .Aniket_Home_Rectangle_41 {
    position: absolute;
    overflow: visible;
    width:75px;
    height: 58px;
    left: 485px;
    top: 0px;
  }
  #Aniket_Home_search_for_jobs {
    left: 39px;
    top: 16px;
    position: absolute;
    overflow: visible;
    width:152px;
    white-space: nowrap;
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    color: rgba(112,112,112,1);
    text-transform: capitalize;
  }
  #Aniket_Home_Icon_awesome-search {
    fill: rgba(255,255,255,1);
  }
  .Aniket_Home_Icon_awesome-search {
    overflow: visible;
    position: absolute;
    width:30.04px;
    height: 31px;
    left: 507.96px;
    top: 14px;
    transform: matrix(1,0,0,1,0,0);
  }
  #Aniket_Home_join_us__explore__thousands_of {
    left: 4px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width:708px;
    white-space: nowrap;
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 73px;
    color: rgba(255,255,255,1);
    text-transform: capitalize;
  }
  #Aniket_Home_search_millions_of_job_from_th {
    left: 4px;
    top: 215.5px;
    position: absolute;
    overflow: visible;
    width:682px;
    white-space: nowrap;
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(255,255,255,1);
    text-transform: capitalize;
  }
  #Aniket_Home_share_it {
    position: relative;
    width:278px;
    height: 49px;
    /* left: 0px;
    top: 323px; */
    overflow: visible;
  }
  #Aniket_Home_facebook {
    position: absolute;
    width:53px;
    height: 49px;
    left: 75px;
    top: 0px;
    overflow: visible;
  }
  #Aniket_Home_Rectangle_51 {
    fill: rgba(255,255,255,1);
  }
  .Aniket_Home_Rectangle_51 {
    position: absolute;
    overflow: visible;
    width:53px;
    height: 49px;
    left: 0px;
    top: 0px;
  }
  #Aniket_Home_Icon_awesome-facebook-f {
    fill: rgba(25,21,184,1);
  }
  .Aniket_Home_Icon_awesome-facebook-f {
    overflow: visible;
    position: absolute;
    width:14.204px;
    height: 26.52px;
    left: 19px;
    top: 11px;
    transform: matrix(1,0,0,1,0,0);
  }
  #Aniket_Home_twitter {
    position: absolute;
    width:53px;
    height: 49px;
    left: 150px;
    top: 0px;
    overflow: visible;
  }
  #Aniket_Home_Rectangle_52 {
    fill: rgba(255,255,255,1);
  }
  .Aniket_Home_Rectangle_52 {
    position: absolute;
    overflow: visible;
    width:53px;
    height: 49px;
    left: 0px;
    top: 0px;
  }
  #Aniket_Home_Icon_simple-twitter {
    fill: rgba(25,21,184,1);
  }
  .Aniket_Home_Icon_simple-twitter {
    overflow: visible;
    position: absolute;
    width:27.876px;
    height: 22.656px;
    left: 13.014px;
    top: 13px;
    transform: matrix(1,0,0,1,0,0);
  }
  #Aniket_Home_reddit {
    position: absolute;
    width:53px;
    height: 49px;
    left: 225px;
    top: 0px;
    overflow: visible;
  }
  #Aniket_Home_Rectangle_53 {
    fill: rgba(255,255,255,1);
  }
  .Aniket_Home_Rectangle_53 {
    position: absolute;
    overflow: visible;
    width:53px;
    height: 49px;
    left: 0px;
    top: 0px;
  }
  #Aniket_Home_Icon_awesome-reddit-alien {
    fill: rgba(25,21,184,1);
  }
  .Aniket_Home_Icon_awesome-reddit-alien {
    overflow: visible;
    position: absolute;
    width:27.405px;
    height: 25.882px;
    left: 13px;
    top: 12px;
    transform: matrix(1,0,0,1,0,0);
  }
  #Aniket_Home_linkedin {
    position: absolute;
    width:53px;
    height: 49px;
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  #Aniket_Home_Rectangle_19 {
    fill: rgba(255,255,255,1);
  }
  .Aniket_Home_Rectangle_19 {
    position: absolute;
    overflow: visible;
    width:53px;
    height: 49px;
    left: 0px;
    top: 0px;
  }
  #Aniket_Home_Rectangle_54 {
    filter: blur(10px);
    fill: rgba(55,52,235,1);
  }
  .Aniket_Home_Rectangle_54 {
    display: none;
    position: absolute;
    overflow: visible;
    width:95px;
    height: 93px;
    left: 10px;
    top: 16px;
  }
  #Aniket_Home_Icon_awesome-linkedin-in {
    fill: rgba(25,21,184,1);
  }
  .Aniket_Home_Icon_awesome-linkedin-in {
    overflow: visible;
    position: absolute;
    width:24.705px;
    height: 24.704px;
    left: 14px;
    top: 12px;
    transform: matrix(1,0,0,1,0,0);
  }
  #Aniket_Home_Group_32 {
    position: absolute;
    width:821.676px;
    height: 579.012px;
    left: 953.325px;
    top: 250px;
    overflow: visible;
  }
  
  
  img {
    width: 100%;
  }
  
  @media screen and (max-width: 800px){
    #Aniket_Home_join_us__explore__thousands_of {
      font-size: 65px !important;
      right: 2px;
    }
  
    #Aniket_Home_search_millions_of_job_from_th {
      font-size: 20px;
    }
  }
  
  @media screen and (max-width: 400px) {
    #Aniket_Home_join_us__explore__thousands_of {
      font-size: 200% !important;
      /* margin-left: -25%; */
    }
  
    #Aniket_Home_search_millions_of_job_from_th {
      font-size: 100%;
      margin-left: -25%;
      margin-top: -15%;
    }
  
    #Aniket_Home_share_it {
    width: 100%;
    /* margin-left: -25%; */
    /* margin-top: -18%; */
    }
  
    #Aniket_Home_serach_bar {
    width: 60% !important;
    /* margin-left: -25%;
    margin-top: -18%; */
    }
  
    #Aniket_Home_Icon_awesome-search {
      left: 700.96px;
      margin-left: -35% !important;
    }
  }
  
  @media screen and (max-width: 600px) {
    #Aniket_Home_join_us__explore__thousands_of {
      font-size: 200% !important;
      /* margin-left: -25%; */
    }
  
    #Aniket_Home_search_millions_of_job_from_th {
      font-size: 100%;
      /* margin-left: -25%; */
      /* margin-top: -15%; */
    }
  
    #Aniket_Home_share_it {
    width: 100%;
    /* margin-left: -25%; */
    /* margin-top: -18%; */
    }
  
    #Aniket_Home_serach_bar {
    width: 60% !important;
    margin-left: -25%;
    margin-top: -18%;
    }
  
    #Aniket_Home_Icon_awesome-search {
      margin-left: -85% !important;
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  img {
    width: 100%;
  }
  #companies_bco {
    position: relative;
  
    height: 348px;
    overflow: visible;
  }
  /* 
  #Google-grey {
    opacity: 0.54;
    position: relative;
    width: 170px;
    height: 62px;
    overflow: visible;
  }
  
  #infosys-logo-grey {
    opacity: 0.49;
    position: relative;
    width: 304px;
    height: 173px;
    overflow: visible;
  }
  
  #Microsoft-Logo-Grey {
    opacity: 0.63;
    position: relative;
    width: 348px;
    height: 348px;
    overflow: visible;
  }
  
  #facebook-logo-grey {
    opacity: 0.75;
    position: relative;
    width: 312px;
    height: 64px;
    overflow: visible;
  } */
  
  
  .aradhna_company_icons{
    display: inline-block;
    max-width: 23%;
  }
  
  @media(max-width:700px){
    .aradhna_company_icons{
    display: inline-block;
    max-width: 49%;
  }
  }
  
  
  .rajat_subscribe_btn_customize{
    color:white !important;
  }

  .rajat_checkbox_fields label{
    color:white;
  }