
img {
    width: 100%;
  }
#companies_bco {
    position: relative;
  
    height: 348px;
    overflow: visible;
  }
  /* 
  #Google-grey {
    opacity: 0.54;
    position: relative;
    width: 170px;
    height: 62px;
    overflow: visible;
  }
  
  #infosys-logo-grey {
    opacity: 0.49;
    position: relative;
    width: 304px;
    height: 173px;
    overflow: visible;
  }
  
  #Microsoft-Logo-Grey {
    opacity: 0.63;
    position: relative;
    width: 348px;
    height: 348px;
    overflow: visible;
  }
  
  #facebook-logo-grey {
    opacity: 0.75;
    position: relative;
    width: 312px;
    height: 64px;
    overflow: visible;
  } */
  
  
  .aradhna_company_icons{
    display: inline-block;
    max-width: 23%;
  }
  
  @media(max-width:700px){
    .aradhna_company_icons{
    display: inline-block;
    max-width: 49%;
  }
  }

