#job_card {
		position: absolute;
		width: 750px;
		height: 300px;
		left: 5px;
		top: 0px;
		overflow: visible;
		margin:2%;
	}
/* #Rectangle_91 {
	filter: blur(41px);
	fill: rgba(25,17,140,1);
	}
.Rectangle_91 {
	position: absolute;
	overflow: visible;
	width: 1191px;
	height: 571px;
	left: 65px;
	top: 118px;
} */
/* #Rectangle_27 {
	fill: rgba(255,255,255,1);
}
.Rectangle_27 {
	position: absolute;
	overflow: visible;
	width: 1058px;
	height: 466px;
	left: 0px;
	top: 0px;
} */
#kisspng-google-logo-g-suite-go {
	position: absolute;
	width: 80px;
	height: 80px;
	left: 15px;
	top: 12px;
	overflow: visible;
}
#job_header {
	position: absolute;
	width: 166px;
	height: 56px;
	left: 107px;
	top: 12px;
	overflow: visible;
}
#product_designer_s {
	left: 0px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 1.2rem;
	color: rgba(0,0,0,1);
	text-transform: capitalize;
}
#Google_s {
	left: 2px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 1rem;
	color: rgba(99,99,99,1);
	text-transform: capitalize;
}
#bangalore_india_s {
	left: 1px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 166px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
	color: rgba(99,99,99,1);
	text-transform: capitalize;
}
#time {
	position: absolute;
	width: 82px;
	height: 27px;
	left: 575px;
	top: 12px;
	overflow: visible;
}
#posted_5_hrs_ago {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 163px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	color: rgba(111,111,111,1);
	text-transform: capitalize;
}
#type {
	position: absolute;
	width: 807.875px;
	height: 35px;
	left: 103px;
	top: 100px;
	overflow: visible;
}
#paisa {
	position: absolute;
	width: 127px;
	height: 35px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Icon_metro-dollar2 {
	fill: rgba(13,198,0,1);
}
.Icon_metro-dollar2 {
	overflow: visible;
	position: absolute;
	width: 14px;
	height: 28px;
	left: 0px;
	top: 1.576px;
	transform: matrix(1,0,0,1,0,0);
}
#ID95k_-_105k {
	left: 27px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 130px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 1.3rem;
	color: rgba(13,198,0,1);
}
#type_tf {
	position: absolute;
	width: 121px;
	height: 35px;
	left: 514px;
	top: 0px;
	overflow: visible;
}
#full-time {
	left: 0px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 100px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 1.3rem;
	color: rgba(99,99,99,1);
	text-transform: capitalize;
}
#expeirence {
	position: absolute;
	width: 176.616px;
	height: 35px;
	left: 217px;
	top: 0px;
	overflow: visible;
}
#ID2_-_3_years {
	left: 42.616px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -8.5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 1.3rem;
	color: rgba(99,99,99,1);
	text-transform: capitalize;
}
#Icon_ionic-md-briefcase {
	fill: rgba(118,56,56,1);
}
.Icon_ionic-md-briefcase {
	overflow: visible;
	position: absolute;
	width: 29px;
	height: 27px;
	left: 0px;
	top: 0.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-md-time {
	position: absolute;
	width: 29px;
	height: 29px;
	left: 475px;
	top: 3px;
	overflow: visible;
}
#Path_9 {
	fill: rgba(255,179,0,1);
}
.Path_9 {
	overflow: visible;
	position: absolute;
	width: 29.25px;
	height: 29.25px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_10 {
	fill: rgba(255,179,0,1);
}
.Path_10 {
	overflow: visible;
	position: absolute;
	width: 8.775px;
	height: 13.38px;
	left: 13.163px;
	top: 7.313px;
	transform: matrix(1,0,0,1,0,0);
}
#tags {
	position: absolute;
	width: 200px;
	height: 36px;
	left: 100px;
	top: 138px;
	overflow: visible;
}
#respinsuve {
	position: absolute;
	width: 200px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_79 {
	fill: rgba(241,64,0,1);
}
.Rectangle_79 {
	position: absolute;
	overflow: visible;
	width: 200px;
	height: 36px;
	left: 0.202px;
	top: 0px;
}
#internwale_trusted {
	left: 40px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 170px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
	color: rgba(255,255,255,1);
	text-transform: capitalize;
}
#Icon_material-verified-user {
	fill: rgba(255,255,255,1);
}
.Icon_material-verified-user {
	overflow: visible;
	position: absolute;
	width: 12px;
	height: 18px;
	left: 17px;
	top: 8px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_8_ts {
	position: absolute;
	width: 930px;
	height: 36px;
	left: 80px;
	top: 180px;
	display: block;
	/* overflow: visible; */
}
#Execute_all_visual_design_stag {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 913px;
	height: 36px;
	line-height: 42px;
	margin-top: -12px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
	color: rgba(39,39,39,1);
}

#Group_9 {
	position: absolute;
	width: 930px;
	height: 72px;
	left: 104px;
	top: 200px;
	display: block;
	/* overflow: visible; */
}
#Conceptualize_original_ideas_t {
	left: 0px;
	top: 10px;
	position: absolute;
	overflow: hidden;
	width: 913px;
	height: 72px;
	line-height: 20px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
	color: rgba(39,39,39,1);
}

#Icon_awesome-user-tie {
	fill: rgba(39,39,39,1);
}
.Icon_awesome-user-tie {
	overflow: visible;
	position: absolute;
	width: 31.5px;
	height: 36px;
	left: 20px;
	top: 250px;
	transform: matrix(1,0,0,1,0,0);
}
#ID54_applicants {
	left: 61px;
	top: 260px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(99,99,99,1);
	text-transform: capitalize;
}
#apply {
	position: absolute;
	width: 110px;
	height: 46px;
	left: 600px;
	top: 240px;
	overflow: visible;
}
#Rectangle_62_t {
	fill: url(#Rectangle_62_t);
}
.Rectangle_62_t {
	position: absolute;
	overflow: visible;
	width: 110px;
	height: 46px;
	left: 0px;
	top: 0px;
}
#apply_now {
	left: 20px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
	text-transform: capitalize;
}
#apply_t {
	position: absolute;
	width: 110px;
	height: 46px;
	left: 448px;
	top: 240px;
	overflow: visible;
}
#Rectangle_62_ua {
	fill: transparent;
	stroke: rgba(25,17,140,1);
	stroke-width: 3.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_62_ua {
	position: absolute;
	overflow: visible;
	width: 110px;
	height: 46px;
	left: 0px;
	top: 0px;
}

#save {
	left: 38px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 36px;
	white-space: nowrap;
	color: white;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(25,17,140,1);
	text-transform: capitalize;
}
@media (max-width: 800px) {
	.Group_8_ts{
		display: none;
	}

	.Group_9{
		visibility: hidden;
	}
}
